[flake8]
ignore =
    # whitespace before ':'
    E203,
    # Type hint with abstract type `collections.abc.Iterable` or `collections.abc.Sequence`, instead of concrete type `list`
    KTH101,
    # line break before binary operator
    W503,
    # line break after binary operator
    W504
max-line-length=100
max-complexity=30
